Step 1: Load the dataset: 
we first load the dataset and check its structure to understand what kind of data we are dealing with.

In [1]:
import pandas as pd

file_path = "../Dataset/Averages in in General Aptitude Tests aa.csv"
df = pd.read_csv(file_path)

#Display basic info about the dataset
df.info()  # Shows column names, data types, and missing values
df.head()  # Displays the first 5 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6720 entries, 0 to 6719
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   اسم_المدرسة                      6720 non-null   object
 1   المنطقة_الإدارية                 6720 non-null   object
 2   الإدارة_التعليمية                6707 non-null   object
 3   المكتب_التعليمي                  6706 non-null   object
 4   السلطة                           6720 non-null   object
 5   نوع_التعليم                      6720 non-null   object
 6   الجنس                            6720 non-null   object
 7   نوع_الاختبار                     6720 non-null   object
 8   تخصص_الاختبار                    6720 non-null   object
 9   متوسط_أداء_الطلبة_في_المدرسة     6720 non-null   float64
 10  ترتيب_المدرسة_على_مستوى_المدارس  6720 non-null   int64
dtypes: float64(1), int64(1), object(9)
memory usage: 577.6+ KB

,اسم_المدرسة,المنطقة_الإدارية,الإدارة_التعليمية,المكتب_التعليمي,السلطة,نوع_التعليم,الجنس,نوع_الاختبار,تخصص_الاختبار,متوسط_أداء_الطلبة_في_المدرسة,ترتيب_المدرسة_على_مستوى_المدارس
0,أم سلمة الثانوية للموهوبات - مقررات,مكة المكرمة,الإدارة العامة للتعليم بمنطقة مكة المكرمة,مكتب التعليم جنوب مكة المكرمة,حكومي,تعليم عام بنات,بنات,قدرات,علمي,89.622377,1
1,ثانوية الرواد الأهلية ( الازدهار ) - مقررات,الرياض,الإدارة العامة للتعليم بمنطقة الرياض,شمال,أهلي,تعليم عام بنات,بنات,قدرات,نظري,84.440000,1
2,ثانوية الموهوبات ( نظام مقررات ),مكة المكرمة,الإدارة العامة للتعليم بمحافظة جدة,مكتب التعليم بشمال جدة,حكومي,تعليم عام بنات,بنات,قدرات,علمي,89.280423,2
3,الثانوية السادسة لتحفيظ القرآن الكريم 6 - مقررات,الرياض,الإدارة العامة للتعليم بمنطقة الرياض,شمال,حكومي,تحفيظ بنات,بنات,قدرات,نظري,83.550000,2
4,ثانوية مدارس الظهران الاهلية (مقررات),الشرقية,الإدارة العامة للتعليم بالمنطقة الشرقية,مكتب التعليم بمحافظة الخبر,أهلي,تعليم عام بنات,بنات,قدرات,علمي,88.903225,3

Step 2: Check for Missing Values & Handle Them:

In [2]:
# Count missing values for each column
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 اسم_المدرسة                         0
المنطقة_الإدارية                    0
الإدارة_التعليمية                  13
المكتب_التعليمي                    14
السلطة                              0
نوع_التعليم                         0
الجنس                               0
نوع_الاختبار                        0
تخصص_الاختبار                       0
متوسط_أداء_الطلبة_في_المدرسة        0
ترتيب_المدرسة_على_مستوى_المدارس     0
dtype: int64

In [3]:
# Replace missing values with "Unknown" for categorical columns and 0 for numerical columns
df.fillna("Unknown", inplace=True)

Explanation
Step 1 (Checking Missing Values): We print the number of missing values per column to decide how to handle them.
Step 2 (Handling Missing Values):
If a column is categorical (text-based), missing values are replaced with "Unknown", so the machine learning model does not receive empty inputs.
If a column is numerical, missing values are replaced with 0, so calculations like mean, variance, and scaling are not affected.